/*background setting*/
:root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-size: 80%;
  background-color: rgb(41, 87, 19);
  background-image: url(../images/meadow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*font style and font size*/
body {
  font-family: system-ui;
  font-weight: 400;
  font-size: small;
}

/* "hi there"content style setting*/
.hero {
  color: rgb(19, 53, 3);
  display: flex;
  justify-content: flex-start;
  margin-left: 15%;
}

/*special word set italic*/
.hero-font {
  color: rgb(247, 236, 221);
}

.head-img {
  display: block;
  float: right;
  margin-right: 25%;
  margin-top: 0;
  width: 250px;
  border-radius: 10%;
  border: 2px solid rgb(76, 90, 76);
  animation: wiggle 5s linear infinite;
  }
  
  /* add animation to head-img */
  @keyframes wiggle {
    0%, 3% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    30%, 50% {
      transform: rotateZ(0);
    }
  }


.nav {
  display: flex;
  margin-left: 10%;
  font-family: fantasy;
  font-size: large;
  column-gap: 20px;
}

.nav li {
  flex-wrap: wrap;
  display: inline-block;
  justify-content: space-evenly;
  padding: 9px 70px;
  background: rgb(41, 87, 19);
  color: rgb(8, 7, 7);
}

.nav-item:hover {
  background-color: rgb(42, 134, 81);
  font-size: 20px;
  text-decoration: none;
  color: aqua;
}

/*all of the link setting*/
a {
  color: #070707;
  text-decoration: none;
  display: inline-flex;
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4% 9% 0 10%;
}

main {
  flex-wrap: wrap;
  display: block;
  justify-content: space-between;
}

.section {
  display: block;
  flex-wrap: wrap;
  margin-left: 20px;
  padding-right: 10px;
}

section p {
  background-color: rgb(247, 236, 221);
  opacity: 50%;
  font-family: system-ui;
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin: 5% 15% 15% 5%;
  text-align: 5px;
}
.project-container {
  display: flex;
}

/*project img and header setting*/
section div {
  display: flex;
  margin: 10px;
}

.aboutme p {
  background-color: rgb(247, 236, 221);
  opacity: 40%;
  font-family: verdana;
  color: black;
  font-weight: 200;
  font-size: 18px;
  margin: 5% 15% 5% 5%;
  border-radius: 5px;
}

.aboutme img {
  margin: 15px;
  justify-content: space-between;
}

h2 {
  margin: -1% 15% 0 4%;
  color: aliceblue;
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 10%;
}

.project {
  font-family: system-ui;
  font-size: 15px;
  opacity: 90%;
  width: 100px;
}

/*Added Pseudo-Elements*/
.project::after {
  font-family: Impact;
  content: '\21F2';
  color: #404640;
  margin-right: 10px;
}

form {
  display: block;
  font-family: system-ui;
  font-size: medium;
  color: rgb(247, 236, 221);
}

.foot-link {
  display: flex;
  position: relative;
  justify-content: center;
  color: rgb(247, 236, 221);
}

/*media quary setting*/
@media screen and (max-width: 992px) {
  header {
    opacity: inherit;
  }

  nav li {
    flex-direction: column;
    padding: 9px 30px;
  }

  img {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    opacity: inherit;
    flex-direction: row;
  }

  img {
    width: 50%;
  }

  nav li {
    flex-direction: column;
    padding: 9px 20px;
  }
}